<div class="control-group">
  <div class="controls">
    <%if can_edit?%><a href="/devices/new"><button class="btn btn-default">Add new Device</button></a><%end%>
  </div>
</div>                                                 
<br/>

<table class="table">
	<thead>
		<tr>
			<th>tag</th>
			<th>model</th>
			<th>manufacturer</th>
			<th>serial number</th>
			<th>type</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		 <% for device in @devices%>
		<tr>
			
			 
			  	
			    <td><%=device.tag%></td>
			    <td><%=device.name%></td>
			    <td><%=device.manufacturer.name%></td>
			    <td><%=device.serial_number%></td>
			    <td><%=device.device_type.name%></td>
			    <td>
	    <form method="post" action="/devices/<%=device.id%>/delete"> 
        	<%if can_edit?%><button type="submit"class="btn" id="">Delete</button><%end%>
    	</form> 
	  </td>
			  
			
		</tr>
		<% end %>
	</tbody>
</table>