<h2>Admin panel</h2>

<table>
<tr>
<td>
<form method="post" action="/admin/sql/delete">
<input type="submit" value="Purge SQL Database" name="sqldb_button" id="sqldb_button" title="Purge SQL database" class="btn"/>
</form>
</td>
<td>
<form method="post" action="/admin/results/delete">
<input type="submit" value="Truncate results" name="truncresults_button" id="truncresults_button" title="Truncate results" class="btn"/>
</form>
</td>
</tr>
</table>

<br/>

<div class="control-group">
  <div class="controls">
    <a href="/machine/new"><button class="btn btn-default">Add new Machine</button></a>
  </div>
</div>                                                 

<table id="machine_table" class="table">
  <tr>
    <td>Machine Callsign</td>
    <td>Machine Ip</td>
    <td>Supported platforms</td>
    <td></td>
  </tr>
  
<%for row in @machines %>
  <tr>
    <td><a href="machine/<%=row.id%>"><%=row.call_sign%></a></td>
    <td><%=row.ip_address%></td>
    <td><%=row.platform.name%></td>
    
    <td>
      <form method="post" action="/admin/delete/<%=row["id"]%>"> 
        <input type="hidden" name="_method" value="delete">
        <button type="submit"class="btn" id="<%=row["call_sign"]%>">Delete</button>
      </form> 
    </td>
  </tr>
<% end %>
</table>
