<h2>Admin panel</h2>

<table>
<tr>
<td>
<form method="post" action="/admin/sql/delete">
<input type="submit" value="Purge SQL Database" name="sqldb_button" id="sqldb_button" title="Purge SQL database" class="btn"/>
</form>
</td>
<td>
<form method="post" action="/admin/results/delete">
<input type="submit" value="Truncate results" name="truncresults_button" id="truncresults_button" title="Truncate results" class="btn"/>
</form>
</td>
</tr>
</table>
<table id="machine_table" class="table">
	<tr>
	<td>Machine Id</td><td>Machine Callsign</td><td>Machine Ip</td><td>Supported platforms</td><td>iphone4</td><td>iphone4s</td><td>iphone5</td><td>ipadmini</td><td>ipad4</td><td>remove</td>
	</tr>
	
<%for row in @machine_available %>
	<tr>
	<td><%=row["machine_id"]%></td><td><%=row["machine_callsign"]%></td><td><%=row["machine_ip"]%></td><td><%=row["supported_platforms"]%></td><td><%=row["iphone4"]%></td><td><%=row["iphone4s"]%></td><td><%=row["iphone5"]%></td><td><%=row["ipadmini"]%></td><td><%=row["ipad4"]%></td>
	<td>
	<form method="post" action="/admin/delete/<%=row["machine_id"]%>"> 
    <input type="hidden" name="_method" value="delete">
    <button type="submit"class="btn">Delete</button>
	</form>
</td>
</tr>
<% end %>
</table>


  <form action="/admin" method="post" class="form-horizontal">
    <fieldset>
      <div id="legend" class="">
        <legend class="">Add new machine</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Machine callsign</label>
          <div class="controls">
            <input type="text" placeholder="'goose'" class="input-xlarge" name="post[callsign_form]">
            <p class="help-block"></p>
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Machine IP</label>
          <div class="controls">
            <input type="text" placeholder="127.0.0.1" class="input-xlarge" name="post[machine_ip_form]">
            <p class="help-block"></p>
          </div>
        </div>

    

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Supported Platforms</label>
          <div class="controls">
            <input type="text" placeholder="'ios'" name="post[supported_platforms]" class="input-xlarge">
            <p class="help-block"></p>
          </div>
        </div>


    <div class="control-group">
          <label class="control-label">Inline Checkboxes</label>

          <!-- Multiple Checkboxes -->
          <div class="controls">
      <!-- Inline Checkboxes -->
      <label class="checkbox inline">
        <input type="checkbox" value="iPhone4" name="post[iphone4_check]">
        iPhone4
      </label>
      <label class="checkbox inline">
        <input type="checkbox" value="iPhone4s" name="post[iphone4s_check]">
        iPhone4s
      </label>
      <label class="checkbox inline">
        <input type="checkbox" value="iPhone5" name="post[iphone5_check]">
        iPhone5
      </label>
      <label class="checkbox inline">
        <input type="checkbox" value="iPadmini" name="post[ipadmini_check]">
        iPadmini
      </label>
      <label class="checkbox inline">
        <input type="checkbox" value="iPad4" name="post[ipad4_check]">
        iPad4
      </label>
  </div>

        </div>

    <div class="control-group">
          <label class="control-label">Add Machine</label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>

    </fieldset>
  </form>





