<div id="jobs-grid" class="row">
	<% @projects.each do |project, jobs|%>
		<div class="span6 well">

			<div class="btn-group pull-right">
				<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
					Action
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu">
					<li><a href="/results/<%=project%>">Results</a></li>
					<%if can_edit?%>
						<li><a href="#" onclick="$('form#delete-<%=project%>').submit();">Delete project</a></li>
						<li><a data-dynamic="true" data-backdrop="false" data-toggle="modal" href="#device-modal">Manage devices</a></li>
					<%end%>
				</ul>
			</div>
			
			<%if can_edit?%>
				<form id="delete-<%=project%>" method="post" action="/jobs/<%=project%>/delete"></form>
				<form id="edit-<%=project%>" method="post" action="/jobs/<%=project%>/edit">
					<div id="device-modal" class="modal hide">
						<div class="modal-header">
							<a class="close" data-dismiss="modal">&times;</a>
							<h3>Device Selection</h3>
						</div>
						<div class="modal-body">
							<ul id="device_list" style="list-style-type:none;text-decoration:none;">
							<%for device in @devices %>
								<% if device.ip %>
									<% if check_availibility(device.id) == 1 %>
										<li >
											<%if not @project_devices[project].nil? and @project_devices[project].include?(device.id)%>
												<input type="checkbox" id="<%=device.tag%>" 
												name="SELECTED_DEVICE=<%=device.id%>" checked  
												style="margin-top:-5px;"><%=device.name%></input>
											<% else %>
												<input type="checkbox" id="<%=device.tag%>" 
												name="SELECTED_DEVICE=<%=device.id%>"
												style="margin-top:-5px;"><%=device.name%></input>
											<% end %>
										</li>
									<% end %>
								<%end%>
							<%end %>
							</ul>
						</div>
						<div class="modal-footer">
							<input class="btn"id="submit" type="submit" value="submit"/>
						</div>
					</div>
				</form>
			<%end%>

			<h4 style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:200px;"><%=project%></h4>

			<h5>Schedule</h5>
			<% if @last_run_times[project].empty? %>
				<p style="padding-left: 1em;">Jobs never run</p>
			<% else %>
				<p style="padding-left: 1em;">Last job run on  <%=@last_run_times[project]%></p>
			<% end %>

			<h5>Status of jobs on devices</h5>

			<div class="accordion" id="accordion-<%=project%>">
				<div class="accordion-heading" onclick="toggle_expand_cookie('<%=project%>');" >
					<div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-<%=project%>" href="#collapse-<%=project%>">


						<div class="progress" style="height: 3em">
							<%statuses = @statuses[project]%>
							<%percentages = get_percentages_for_statuses(statuses)%>
							<%if statuses[:completed] > 0%>
								<div class="bar bar-success" 
									style="text-align: center; width: <%=percentages[:completed]%>%;"
									data-toggle="tooltip" title="<%=statuses[:completed]%> jobs Completed">
									<h4><%=statuses[:completed]%></h4>
								</div>
							<%end%>
							<%if statuses[:failed] > 0%>
								<div class="bar bar-danger" 
									style="text-align: center; width: <%=percentages[:failed]%>%;"
									data-toggle="tooltip" title="<%=statuses[:failed]%> jobs Failed">
									<h4><%=statuses[:failed]%></h4>
								</div>
							<%end%>
							<%if statuses[:running] > 0%>
								<div class="bar bar-info"
									style="text-align: center; width: <%=percentages[:running]%>%;" 
									data-toggle="tooltip" title="<%=statuses[:running]%> jobs Running">
									<h4><%=statuses[:running]%></h4>
								</div>
							<%end%>
							<%if statuses[:pending] > 0%>
								<div class="bar bar-warning" 
									style="text-align: center; width: <%=percentages[:pending]%>%;"
									data-toggle="tooltip" title="<%=statuses[:pending]%> jobs Pending">
									<h4><%=@statuses[project][:pending]%></h4>
								</div>
							<%end%>
						</div>

					</div>
				</div>

				<%if @cookies[project] == "expanded"%>
					<div id="collapse-<%=project%>" class="accordion-body collapse in">
					<%else%>
						<div id="collapse-<%=project%>" class="accordion-body collapse">
						<%end%>
						<div class="accordion-inner">

							<%jobs.each do |job|%>

								<!-- Restart the job form - submitted by an icon-repeat link. -->
								<form id="restart-job-<%=job['id']%>" 
									method="post" 
									action="/dashboard/job/restart/<%=job['id']%>">
								</form> 

								<%if job["status"].eql?("FAILED")%>
									<div class="alert alert-error">
										<%=device_name_from_job_name(job['name'])%> has FAILED.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();" data-toggle="tooltip" title="Restart"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/results/job/<%=job['id']%>" data-toggle="tooltip" title="Results"></a>
											<span>&nbsp;</span>
											<a class="icon-circle-arrow-right icon-white" href="/job/<%=job['id']%>" data-toggle="tooltip" title="View/Edit details"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("IN PROGRESS")%>
									<div class="alert alert-info">
										<%=device_name_from_job_name(job['name'])%> is RUNNING.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();" data-toggle="tooltip" title="Restart"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/results/job/<%=job['name']%>" data-toggle="tooltip" title="Results"></a>
											<span>&nbsp;</span>
											<a class="icon-circle-arrow-right icon-white" href="/job/<%=job['id']%>" data-toggle="tooltip" title="View/Edit details"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("COMPLETED")%>
									<div class="alert alert-success">
										<%=device_name_from_job_name(job['name'])%> has COMPLETED.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();" data-toggle="tooltip" title="Restart"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/results/job/<%=job['id']%>" data-toggle="tooltip" title="Results"></a>
											<span>&nbsp;</span>
											<a class="icon-circle-arrow-right icon-white" href="/job/<%=job['id']%>" data-toggle="tooltip" title="View/Edit details"></a>
										</div>
									</div>
								<%else%>
									<div class="alert alert-warning">
										<%=device_name_from_job_name(job['name'])%> is PENDING.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();" data-toggle="tooltip" title="Restart"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/results/job/<%=job['id']%>" data-toggle="tooltip" title="Results"></a>
											<span>&nbsp;</span>
											<a class="icon-circle-arrow-right icon-white" href="/job/<%=job['id']%>" data-toggle="tooltip" title="View/Edit details"></a>
										</div>
									</div>
								<%end%>

							<%end%>

						</div>
					</div>
					<!-- accordion -->
				</div>
				<!-- well -->
			</div>
		<% end %>
	</div>

	<script>
		function toggle_expand_cookie(project_name)
		{
			var old_value = $.cookie(project_name);
			if (typeof old_value === 'undefined')
			{
				$.cookie(project_name, "expanded");
				location.reload();
			}
			else if (old_value == "collapsed")
			$.cookie(project_name, "expanded");
			else
			$.cookie(project_name, "collapsed");
		}
	</script>

	<!-- Auto-refresh script - include this snippet on any page from which you wish to control auto-refresh. -->
	<script>
		show_refresh_form = true;
		<%if should_autorefresh? %>
			setTimeout(
				function () {
						location.reload(1); 
				}, 
				15000
			);
		<%end%>
	</script>
