<div id="jobs-grid" class="row">
	<% @projects.each do |project, jobs|%>
		<div class="span6 well">

			<a class="btn btn-primary pull-right" >
				Manage Devices 
			</a>

			<h4 style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:200px;"><%=project%></h4>

			<h5>Schedule</h5>
			<% if @last_run_times[project].empty? %>
				<p style="padding-left: 1em;">Jobs never run</p>
			<% else %>
				<p style="padding-left: 1em;">Last job run on  <%=@last_run_times[project]%></p>
			<% end %>

			<h5>Status of jobs on devices</h5>

			<div class="accordion" id="accordion-<%=project%>">
				<div class="accordion-heading" onclick="toggle_expand_cookie('SkyGo');" >
					<div class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-<%=project%>" href="#collapse-<%=project%>">


						<div class="progress" style="height: 3em">
							<%statuses = @statuses[project]%>
							<%percentages = get_percentages_for_statuses(statuses)%>
							<%if statuses[:completed] > 0%>
								<div class="bar bar-success" 
									style="text-align: center; width: <%=percentages[:completed]%>%;"
									data-toggle="tooltip" title="<%=statuses[:completed]%> jobs Completed">
									<h4><%=statuses[:completed]%></h4>
								</div>
							<%end%>
							<%if statuses[:failed] > 0%>
								<div class="bar bar-danger" 
									style="text-align: center; width: <%=percentages[:failed]%>%;"
									data-toggle="tooltip" title="<%=statuses[:failed]%> jobs Failed">
									<h4><%=statuses[:failed]%></h4>
								</div>
							<%end%>
							<%if statuses[:running] > 0%>
								<div class="bar bar-info"
									style="text-align: center; width: <%=percentages[:running]%>%;" 
									data-toggle="tooltip" title="<%=statuses[:running]%> jobs Running">
									<h4><%=statuses[:running]%></h4>
								</div>
							<%end%>
							<%if statuses[:pending] > 0%>
								<div class="bar bar-warning" 
									style="text-align: center; width: <%=percentages[:pending]%>%;"
									data-toggle="tooltip" title="<%=statuses[:pending]%> jobs Pending">
									<h4><%=@statuses[project][:pending]%></h4>
								</div>
							<%end%>
						</div>

					</div>
				</div>

				<%if @cookies[project] == "expanded"%>
					<div id="collapse-<%=project%>" class="accordion-body collapse in">
					<%else%>
						<div id="collapse-<%=project%>" class="accordion-body collapse">
						<%end%>
						<div class="accordion-inner">

							<%jobs.each do |job|%>

								<!-- Restart the job form - submitted by an icon-repeat link. -->
								<form id="restart-job-<%=job['id']%>" 
									method="post" 
									action="/dashboard/job/restart/<%=job['id']%>">
								</form> 

								<%if job["status"].eql?("FAILED")%>
									<div class="alert alert-error">
										<%=job['name'].split("#{project}-").last%> has FAILED.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/job/<%=job['id']%>"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("NOT STARTED")%>
									<div class="alert alert-warning">
										<%=job['name'].split("#{project}-").last%> is PENDING.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/job/<%=job['id']%>"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("IN PROGRESS")%>
									<div class="alert alert-info">
										<%=job['name'].split("#{project}-").last%> is RUNNING.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/job/<%=job['id']%>"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("COMPLETED")%>
									<div class="alert alert-success">
										<%=job['name'].split("#{project}-").last%> has COMPLETED.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/job/<%=job['id']%>"></a>
										</div>
									</div>
								<%elsif job["status"].eql?("SCHEDULED")%>
									<div class="alert alert-warning">
										<%=job['name'].split("#{project}-").last%> is PENDING.
										<div class="pull-right">
											<a class="icon-repeat icon-white" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();"></a>
											<span>&nbsp;</span>
											<a class="icon-list-alt icon-white" href="/job/<%=job['id']%>"></a>
										</div>
									</div>
								<%end%>
								
							<%end%>

						</div>
					</div>
					<!-- accordion -->
				</div>
				<!-- well -->
			</div>
		<% end %>
	</div>

	<script>
		function toggle_expand_cookie(project_name)
		{
			var old_value = $.cookie(project_name);

			if (typeof old_value === undefined)
			$.cookie(project_name, "expanded");
			else if (old_value == "collapsed")
			$.cookie(project_name, "expanded");
			else
			$.cookie(project_name, "collapsed");
		}
	</script>

	<!-- Auto-refresh script - include this snippet on any page from which you wish to control auto-refresh. -->
	<script>
		show_refresh_form = true;
		<%if should_autorefresh? %>
			setTimeout(function () { location.reload(1); }, 15000);
		<%end%>
	</script>
