<div id="jobs-grid" class="row">
	<% @projects.each do |project, jobs|%>
		<%jobs.each do |job|%>
			<div class="span6 well">

				<div class="btn-group pull-right">
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
						Action
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<form id="restart-job-<%=job['id']%>" 
							method="post" 
							action="/dashboard/job/restart/<%=job['id']%>">
							<li><a tabindex="-1" href="#" onclick="$('#restart-job-<%=job['id']%>').submit();">Restart</a></li>
							<% if Dir.exist?("public/uploads/#{job['name']}")%>
								<li>
								<a href="/results/<%=job['name']%>">Results</a>
								</li>
							<%end%>
							<%if can_edit?%>
								<li>
								<a href="/job/<%=job['id']%>/delete">Delete</a>
								</li>
							<%end%>
						</form>
					</ul>
				</div>

				<h4 style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap;max-width:200px;"><%=job["name"]%></h4>

				<% if job["recursion"].eql?(0) %>
					<h5> Single run job</h5>
				<%else%>
					<h5> Recursive job</h5>
				<%end%>
				<p>Last run <%=job["TIMESTAMP"].strftime("%Y-%m-%d %H:%M:%S ")%></p>

				<div class="accordion" id="accordion<%=job['name']%><%=job['id']%>">
					<%if job["status"].eql?("FAILED")%>
						<div class="alert alert-error">
							Job health CRITICAL
						</div>
					<%end%>
					<%if job["status"].eql?("NOT STARTED")%>
						<h5>Status of Jobs on Devices</h5>
						<!-- Option 1 --> 
						<div class="row-fluid" style="text-align: left;">
							<div class="span3">Completed</div>
							<div class="span3">Failed</div>
							<div class="span3">Running</div>
							<div class="span3">Pending</div>
						</div>
						<!-- 1a
						<div class="row-fluid" style="text-align: right; font-weight: bold;">
							<div class="span2 alert alert-success">1</div>
							<div class="span1"></div>
							<div class="span2 alert alert-error">3</div>
							<div class="span1"></div>
							<div class="span2 alert alert-info">3</div>
							<div class="span1"></div>
							<div class="span2 alert alert-warning">4</div>
						</div>
						-->
						<!-- 1b -->
						<div class="row-fluid" style="text-align: center; font-weight: bold;">
							<div class="span3 alert alert-success">1</div>
							<div class="span3 alert alert-error">3</div>
							<div class="span3 alert alert-info">3</div>
							<div class="span3 alert alert-warning">4</div>
						</div>

						<!-- Option 2
						<div class="progress" style="height: 3em">
							<div class="bar bar-success" 
								style="text-align: center; width: 5%;"
								data-toggle="tooltip" title="1 job Completed">
								<h4>1</h4>
							</div>
							<div class="bar bar-danger" 
								style="text-align: center; width: 30%;"
								data-toggle="tooltip" title="6 jobs Failed">
								<h4>6</h4>
							</div>
							<div class="bar bar-info"
								style="text-align: center; width: 40%;" 
								data-toggle="tooltip" title="8 jobs Running">
								<h4>8</h4>
							</div>
							<div class="bar bar-warning" 
								style="text-align: center; width: 25%;"
								data-toggle="tooltip" title="5 jobs Pending">
								<h4>5</h4>
							</div>
						</div>
						-->

						<!-- Option 3  
						<div class="progress progress-success" style="text-align: right;">
							<div class="bar" style="width: 10%;"></div>
							1 Completed
						</div>
						<div class="progress progress-danger" style="text-align: right;">

							<div class="bar" style="width: 20%;"></div>
							2 Failed
						</div>
						<div class="progress progress-striped active" style="text-align: right;">

							<div class="bar" style="width: 40%;"></div>
							4 Running
						</div>
						<div class="progress progress-warning" style="text-align: right;">

							<div class="bar" style="width: 30%;"></div>
							3 Pending
						</div>
						-->
					<%end%>
					<%if job["status"].eql?("IN PROGRESS")%>
						<div class="alert alert-info">
							Job health PENDING
						</div>
					<%end%>
					<%if job["status"].eql?("COMPLETED")%>
						<div class="alert alert-success">
							Job health GOOD
						</div>
					<%end%>
					<%if job["status"].eql?("SCHEDULED")%>
						<div class="alert alert-success">
							Job health GOOD
						</div>
					<%end%>

				</div>

			</div>
		<% end %>
	<% end %>

</div>

<script>
</script>

<!-- Auto-refresh script - include this snippet on any page from which you wish to control auto-refresh. -->
<script>
	show_refresh_form = true;
	<%if should_autorefresh? %>
		setTimeout(function () { location.reload(1); }, 15000);
	<%end%>
</script>
