

<div class="row">

<%for job in @current_jobs%>
<div class="hero-unit">

  <div class="btn-group pull-right">
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    Action
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li><a tabindex="-1" href="#">Restart</a></li>
  </ul>
</div>

  <h2><%=job["name"]%></h2>
  <p>Job status <%=job["status"]%></p>
  <p>Job first originated <%=job["TIMESTAMP"]%></p>
 

  <div class="accordion" id="accordion<%=job['name']%><%=job['id']%>">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%=job['name']%><%=job['id']%>" href="#collapse<%=job['name']%><%=job['id']%>">
          View build commands
        </a>
      </div>
      <div id="collapse<%=job['name']%><%=job['id']%>" class="accordion-body collapse">
        <div class="accordion-inner">
          <p><%=job['command']%></p>
        </div>
      </div>
    </div>




    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%=job['name']%><%=job['id']%>" href="#collapse2<%=job['name']%><%=job['id']%>">
        View job trigger time
      </a>
    </div>
    <div id="collapse2<%=job['name']%><%=job['id']%>" class="accordion-body collapse">
      <div class="accordion-inner">
        <p><%=Time.at(job['trigger_time'])%></p>
      </div>
    </div>
  </div> <div class="alert alert-success">
  Job health GOOD
  </div>
</div>
<% end %>
</div>