
<%= @error %>
<form action="/job" method="post" enctype="multipart/form-data">
<div class="well">
<p>Configuration file</p>
<div style="position:relative;">
        <a class='btn' href='javascript:;'>
            Choose File...
            <input type="file" id="lfile" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val());'>
        </a>
        &nbsp;
        <span class='label label-info' id="upload-file-info"></span>
</div>
<p>Selected machine</p>

<select name="machine_id">

<%for row in @machines %>

<option value=<%=row.id%>>
<%=row.call_sign%>
</option>
<% end %>

</select>

<p>Job name</p>
<input type="text" name="lname">
<br>
<p>Trigger time</p>

   <link rel="stylesheet" type="text/css" media="screen"
    href="/css/bootstrap-datetimepicker.min.css">
 <div id="datetimepicker" class="input-append date">
      <input type="text"  name="ltrigger"></input>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
    <script type="text/javascript"
     src="jquery.min.js">
    </script> 
    <script type="text/javascript"
     src="/js/bootstrap.min.js">
    </script>
    <script type="text/javascript"
     src="/js/bootstrap-datetimepicker.min.js">
    </script>
    <script type="text/javascript">

      $('#datetimepicker').datetimepicker({
        format: 'dd/MM/yyyy hh:mm:ss',
        pickDate: false
      });
      jQuery(function($) {
  $('div.btn-group[data-toggle-name=*]').each(function(){
    var group   = $(this);
    var form    = group.parents('form').eq(0);
    var name    = group.attr('data-toggle-name');
    var hidden  = $('input[name="' + name + '"]', form);
    $('button', group).each(function(){
      var button = $(this);
      button.live('click', function(){
          hidden.val($(this).val());
      });
      if(button.val() == hidden.val()) {
        button.addClass('active');
      }
    });
  });
});
    </script>
<br />

<div class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
  <button type="button" value="0" class="btn" data-toggle="button">Single</button>
  <button type="button" value="1" class="btn" data-toggle="button">Recursive</button>
</div>
<br />
<input type="hidden" name="is_private" value="0" />

<br />
<input id="submit"type="submit" value="submit"class="btn btn-primary"/>
</form>
</div>
<h2>Current jobs</h2>
<div class="alert alert-error">Warning: Job name will need to be consistant through out as it is used to form a directory for your job!</div>
<table id="job_table" class="table">
	<tr>
        <td>Id</td><td>Name</td><td>Time stamp</td><td>Trigger Time</td><td>Reccuring?</td><td>STATUS</td><td>Machine id</td><td>command</td><td>Run Job</td><td>Toggle recursion</td><td></td>
	</tr>
	
<%for row in @jobs_done %>
	<tr>
        <td><%=row["id"]%></td><td><%=row["name"]%></td><td><%=row["TIMESTAMP"]%></td><td><%=Time.at(row["trigger_time"])%></td><td><%=row["recursion"]%></td><td><%=row["status"]%></td><td><%=row["machine_id"]%></td><td><%=row["command"]%></td><td>
	<form method="post" action="/job/restart/<%=row["id"]%>"> 
    <input type="hidden" name="_method" value="submit">
    <button type="submit"class="btn">Go</button>
	</form>
	</td>
  <td>
      <%if row["recursion"].eql?(1)%>
      <form method="post" action="/job/recursion/disable/<%=row["id"]%>"> 
       <input type="hidden" name="_method" value="submit">
        <button type="submit"class="btn">Disable</button>
      </form>
  <%end%>
    <%if row["recursion"].eql?(0)%>
        <form method="post" action="/job/recursion/enable/<%=row["id"]%>"> 
        <input type="hidden" name="_method" value="submit">
        <button type="submit"class="btn">Enable</button>
      </form>
    <%end%>
  </td>
  <td>
       <form method="post" action="/job/<%=row["id"]%>/delete"> 
          <%if can_edit?%><button type="submit"class="btn" id="">Delete</button><%end%>
      </form> 
  </td>
	</tr>
<% end %>
</table>
