<h1><%=@machine.call_sign%>

<h3>Ip Address: <%=@machine.ip_address%>
<h3>Surported Platform: <%=@machine.platform_name%>


<hr>


<%=partial :device_form%>



<% if !@machine.connected_devices.empty? %>
<table>
	<caption>Devices</caption>
	<thead>
		<tr>
			<th>model</th>
			<th>serial number</th>
			<th>type</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			
			  <% for device in @machine.connected_devices %>
			    <td><%=device.model%></td>
			    <td><%=device.serial_number%></td>
			    <td><%=device.type%></td>
			  <% end %>
			
		</tr>
	</tbody>
</table>
<% else %>

<% end %>