<h1><%=@machine.call_sign%>

<h3>Ip Address: <%=@machine.ip_address%>
<h3>Surported Platform: <%=@machine.platform.name%></h3>


<hr>



<%if can_edit?%>
<form charset="UTF-8" action="/connected_devices" method="post">
	<input type="hidden" name="connected_device[machine_id]" value="<%=@machine.id%>">
	<div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="platform_id">Available Devices</label>
          <div class="controls"> 
            
            <select name="connected_device[device_id]" id="device_id">
              <option value="-1">
                Please choose
              </option>
                         
              
            <% if @devices %>
            <%for device in @devices %>

            <option value=<%=device.id%>>
            <%=device.tag%>
            </option>
            <% end %>
                            
            <%end%>
            </select>
            
          </div>
        </div>
	<div class="control-group">
          <label class="control-label"></label>

          <!-- Button -->
          <div class="controls">
            <button class="btn btn-success">Register Device</button>
          </div>
        </div>

        
</form>
<%end%>

<h4>Connected Devices</h4>

<% if !@machine.connected_devices.empty? %>
<table class="table">
	<thead>
		<tr>
			<th>tag</th>
			<th>model</th>
			<th>manufacturer</th>
			<th>serial number</th>
			<th>ip</th>
			<th>type</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		 <% for row in @machine.connected_devices %>
		<tr>
			
			 
			  	
				<td><%=row.device.tag%></td>
				<td><%=row.device.name%></td>
			    <td><%=row.device.manufacturer.name%></td>
			    <td><%=row.device.serial_number%></td>
				<th><%=row.device.ip%></td>
				<td><%=row.device.device_type.name%></td>
          <td>
            <%if can_edit?%>
            <a href="/connected_devices/<%=row.id%>/delete" data-id="<%=row.id%>">
              <button type="button" class="btn">disconnect</button>
            </a>
            <%end%>
          </td>
			
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>

<% end %>
