<h1><%=@machine.call_sign%>

<h3>Ip Address: <%=@machine.ip_address%>
<h3>Surported Platform: <%=@machine.platform.name%>


<hr>


<%=partial :device_form%>



<% if !@machine.connected_devices.empty? %>
<table>
	<caption>Devices</caption>
	<thead>
		<tr>
			<th>model</th>
			<th>manufacturer</th>
			<th>serial number</th>
			<th>type</th>
		</tr>
	</thead>
	<tbody>
		 <% for row in @machine.connected_devices %>
		<tr>
			
			 
			  	
			    <td><%=row.device.name%></td>
			    <td><%=row.device.manufacturer.name%></td>
			    <td><%=row.device.serial_number%></td>
			    <td><%=row.device.device_type.name%></td>
			 
			  
			
		</tr>
		<% end %>
	</tbody>
</table>
<% else %>

<% end %>