<form action="/job/<%=@job.id%>/update" method="post" enctype="multipart/form-data">

	<input type="hidden" id="recursion" name="recursion" value="<%=@job.recursion%>" >
	<input type="hidden" id="trigger_time" name="trigger_time" value="<%=@job.trigger_time%>" >
	<input type="hidden" id="command" name="command" value="<%=html_escape(@job.command)%>" >

	<h5>Trigger Time</h5>

	<div class="well">
		<link rel="stylesheet" type="text/css" media="screen" href="/css/bootstrap-datetimepicker.min.css">
		<div id="datetimepicker" class="input-append date">
			<input type="text" name="ltrigger" id="ltrigger" value="<%=Time.at(@job.trigger_time).strftime('%d/%m/%Y %H:%M:%S')%>"></input>
			<span id="time-picker-button" class="add-on">
				<i data-time-icon="icon-time" data-date-icon="icon-calendar" class="icon-time"></i>
			</span>
		</div>

		<script type="text/javascript" src="/js/jquery.min.js"></script> 
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
		<script type="text/javascript">
		$('#datetimepicker').datetimepicker(
		{
			format: 'dd/MM/yyyy hh:mm:ss',
			pickDate: false
		});

		jQuery(function($) {
			$('div.btn-group[data-toggle-name=*]').each(function(){
				var group   = $(this);
				var form    = group.parents('form').eq(0);
				var name    = group.attr('data-toggle-name');
				var hidden  = $('input[name="' + name + '"]', form);
				$('button', group).each(function(){
					var button = $(this);
					button.live('click', function(){
						hidden.val($(this).val());
					});
					if (button.val() == hidden.val()) {
						button.addClass('active');
					}
				});
			});
		});
		</script>

		<span>&nbsp;</span>
		<span id="recursion-buttons" class="btn-group" data-toggle-name="is_private" data-toggle="buttons-radio" >
		<% if @job.recursion == 0 %>
			<button type="button" value="0" class="btn active" data-toggle="button">Single</button>
			<button type="button" value="1" class="btn" data-toggle="button">Recursive</button>
		<% else %>
			<button type="button" value="0" class="btn" data-toggle="button">Single</button>
			<button type="button" value="1" class="btn active" data-toggle="button">Recursive</button>
		<% end %>
		</span>
	</div>

	<h5>Build Commands</h5>
	<textarea class="well pre-scrollable" style="font-family: monospace; font-size: 90%; width: 100%; height: 350px; padding-top: 1.8em; padding-bottom: 0px">
		<%="\n#{@job.command}"%>
	</textarea>

	<div id="submit-buttons" style="width: 100%;">
		<div style="position: relative;">
			<a class='btn' href='javascript:;'>
				Choose file instead...
				<input type="file" style='position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;' name="file_source" size="40"  onchange='$("#upload-file-info").html($(this).val().replace("C:\\fakepath\\", ""));'>
			</a>
			&nbsp;
			<span class='label label-info' id="upload-file-info"></span>
		</div>
		
		<span class="pull-right">
			<a class="btn" href="/job/<%=@job.id%>/delete">Delete Job</a>
			&nbsp;
			<a class="btn" href="/job/<%=@job.id%>?edit=off">Cancel</a>
			&nbsp;
			<button class="btn">Save Changes</button>
		</span>
	</div>

</form>
