<% if not @errors.empty? %>
	<div class="errors">
		<p>Validation errors:</p>
		<% @errors.each do |key, value| %>
			<li><%= value %></li>
		<% end %>
	</div>
<% end %> 

<div class="well">
	<form id="restart-job" 
		method="post" 
		action="/job/restart/<%=@job.id%>">
	</form> 
	<form id="toggle-editing" action="/job/<%=@job.id%>">
		<% if in_editing_mode? %>
			<input id="edit" type="hidden" name="edit" value="on" />
		<% else %>
			<input id="edit" type="hidden" name="edit" value="off" />
		<% end %>
	</form>
	<span class="pull-right">	
		<a class="btn" href="#" onclick="$('#restart-job').submit();" data-toggle="tooltip" title="Restart job."><i class="icon-repeat icon-white"></i></a>
		<a class="btn" href="/results/job/<%=@job.id%>" data-toggle="tooltip" title="View job reports."><i class="icon-list-alt icon-white"></i></a>
		<% if can_edit? %>
			<% if in_editing_mode? %>
				<button id="edit-button" class="btn active" data-toggle="button tooltip" onclick="toggle_edit();" title="Edit job."><i class="icon-edit icon-white"></i></button>
			<% else %>
				<button id="edit-button" class="btn" data-toggle="button tooltip" onclick="toggle_edit();" title="Edit job."><i class="icon-edit icon-white"></i></button>
			<% end %>
		<% end %>
	</span>

	<h3><%=project_name_from_job_name(@job.name)%></h3>

	<h4><%=device_name_from_job_name(@job.name)%> 
		<%if not @job.machine_id.nil?%>		
			<small>connected to</small> 
			<a href="/machines/<%=@job.machine_id%>"><%=@machine.call_sign%></a>
		<%end%>
	</h4>

	<%if @job.status.eql?("FAILED")%>
		<div class="alert alert-error">
			<strong>FAILED</strong>
			<span>&nbsp;</span>
			Last run on <%=@job.TIMESTAMP.strftime('%A, %d-%m-%Y at %H:%M:%S')%>.
		</div>
	<%elsif @job.status.eql?("IN PROGRESS")%>
		<div class="alert alert-info">
			<strong>RUNNING</strong>
			<span>&nbsp;</span>
			Last run on <%=@job.TIMESTAMP.strftime('%A, %d-%m-%Y at %H:%M:%S')%>.
		</div>
	<%elsif @job.status.eql?("COMPLETED")%>
		<div class="alert alert-success">
			<strong>COMPLETED</strong>
			<span>&nbsp;</span>
			Last run on <%=@job.TIMESTAMP.strftime('%A, %d-%m-%Y at %H:%M:%S')%>.
		</div>
	<%else%>
		<div class="alert alert-warning">
			<strong>PENDING</strong>
			<span>&nbsp;</span>
			Last run on <%=@job.TIMESTAMP.strftime('%A, %d-%m-%Y at %H:%M:%S')%>.
		</div>
	<%end%>

	<% if in_editing_mode? %>
		<%= erb :'job_detail/_job_detail_editing' %>
	<% else %>
		<%= erb :'job_detail/_job_detail_readonly' %>
	<% end %>

	<script>
		function toggle_edit() {

			var current_value = $('input#edit').val();

			if (current_value == 'off') {
				$('input#edit').val('on');
			}
			else {
				$('input#edit').val('off');
			}

			$('#toggle-editing').submit();
		}	
	</script>
</div>
